{% extends 'load/base.html' %}
{% load widget_tweaks %}
{% block content %}
        <form method="POST" class="load-form">
        <div class="modal-header">
            <h3 class="modal-title">Create Load</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                {% csrf_token %}
                    {% for field in form.visible_fields %}
                          <div class="form-group">
                                {% if field.name == "price" %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" onfocus="calc_price()" %}
                                {% else %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                {% endif %}

                          </div>
                    {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="save btn btn-primary">Save</button>
        </div>
        </form>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwkx_ql1gv3xRQtJJdn-LtQ0M2U87jFpc&libraries=places"></script>
    <script>
        origin = document.getElementById('id_origin_city');
        destination = document.getElementById('id_destination_city');
        autocomplete_origin = new google.maps.places.Autocomplete(origin);
        autocomplete_destination = new google.maps.places.Autocomplete(destination);
        var price = document.getElementById('id_price');
        var directionsService = new google.maps.DirectionsService();
        function calc_price() {
            var request = {
                    origin: origin.value,
                    destination: destination.value,
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.IMPERIAL,
            }

            directionsService.route(request, function (result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    distance = result.routes[0].legs[0].distance.text.slice(0,-3).replace(".","").replace(",",".");
                    price.value = (distance * 150) / 100;
                }
            });
        }
    </script>
{% endblock %}
