{% extends 'load/base.html' %}
{% block content %}
        <h1>New load</h1>

        <form action="/" method="POST">
            <div class = "form-group">
                <label for="date">Pick up date:</label>
                <input type = "date" class = "form-control" name="date" id = "date">

                <label for="ref">Ref:</label>
                <input type = "text" class = "form-control" name="ref" id = "ref" placeholder = "Ref">

                <label for="origin">Origin city:</label>
                <input type = "text" class = "form-control" name="origin" id = "origin" placeholder = "Origin city">

                <label for="destination">Destination city:</label>
                <input type = "text" class = "form-control" name="destination" id = "destination" placeholder = "Destination city">

                <div>
                    <button type="button" class = "btn btn-primary" onclick="calc_distance()">Calculate</button>
                </div>
                <label for="price">Price</label>
                <input type = "number" step="any" class = "form-control" name="price" id = "price">

            </div>
            <button class = "btn btn-success" type="submit">Register</button>
        </form>
{% endblock %}