{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register a load</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <h1>Register your load</h1>
        <form>
            <div class = "form-group">
                <label for="date">Pick up date:</label>
                <input type = "date" class = "form-control" name="date" id = "date">

                <label for="ref">Ref:</label>
                <input type = "text" class = "form-control" name="ref" id = "ref" placeholder = "Ref">

                <label for="origin">Origin city:</label>
                <input type = "text" class = "form-control" name="origin" id = "origin" placeholder = "Origin city">

                <label for="destination">Destination city:</label>
                <input type = "text" class = "form-control" name="destination" id = "destination" placeholder = "Destination city">

                <div>
                    <button type="button" class = "btn btn-primary" onclick="calc_distance()">Calculate</button>
                </div>
                <label for="price">Price</label>
                <input type = "number" step="any" class = "form-control" name="price" id = "price">

            </div>
            <button class = "btn btn-success" type="submit">Register</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwkx_ql1gv3xRQtJJdn-LtQ0M2U87jFpc&libraries=places"></script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/distance.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pricing.js' %}"></script>
</body>
</html>