{% extends "app/base.html" %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block navbar-item %}
    <a class="nav-item nav-link" href="{% url 'app:docs' %}"> API Doc</a>
{% endblock navbar-item %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}

{% block content %}
    <div class="login-form">
        <form role="form" class="form" method="POST" action="{{ request.path }}{% if next %}?next={{ next }}{% endif %}">
            <div class="avatar">
                <i class="fas fa-user-alt user-icon"></i>
            </div>
            <h2 class="text-center">Login</h2>
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required="required" >
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required" >
            </div>
            {% if form.errors %}
                {{ form.non_field_errors }}
            {% endif %}

            <input type="hidden" name="next" value="{% url 'load:loads' %}" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>
        </form>
        <p class="text-center small">Don't have an account? </br><a href="{% url 'users:register_shipper' %}">Sign up as shipper!</a> | <a href="{% url 'users:register_carrier' %}">Sign up as carrier!</a></p>
    </div>
{% endblock content %}
