{% extends "app/base.html" %}

{% load widget_tweaks %}

{% block title %}
    Register
{% endblock title %}

{% block navbar-item %}
    <a class="nav-item nav-link" href="{% url 'app:docs_api' %}"> API Doc</a>
    <a class="nav-item nav-link" href="{% url 'app:docs_project' %}"> Project Doc</a>

{% endblock navbar-item %}

{% block content %}
    <form method="POST" class="load-form">
        <div class="modal-header">
            <h3 class="modal-title">Register</h3>
        </div>

        <div class="modal-body">
            <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" placeholder="" %}


                    {% if field.help_text %}
                        <p>
                            <small style="color: gray"> {{ field.help_text|safe }} </small>
                        </p>
                    {% endif %}

                    {% for error in field.errors %}
                        <p style="color: red"> {{ error }} </p>
                    {% endfor %}

                {% endfor %}
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="save btn btn-success">Save</button>
            <input type="hidden" name="next" value="{% url 'app:index' %}" />
        </div>
    </form>

{% endblock content %}