<a href="{% url 'app:index' %}"> Index </a>

{% if user.is_authenticated %}
    {% if user.is_shipper %}
        <a href="{% url 'load:loads' %}"> - loads </a>
    {% else %}
        <a href="{% url 'load:carrier-loads' %}"> - loads </a>
    {% endif %}
    <a href="{% url 'users:logout' %}"> - log out </a>
{% else %}
    <a href="{% url 'users:register_shipper' %}"> - register shipper</a>
    <a href="{% url 'users:register_carrier' %}"> - register carrier</a>
    <a href="{% url 'users:login' %}"> - login </a>
{% endif %}

{% block content %}{% endblock content %}